<nav>
	<a class="link" href="/">
		<div class="monogram">MCS</div>
	</a>
	<a class="link" href="/about/"> About</a>
	<a class="link" href="/services/"> Services</a>
	<a class="link" href="/customers/"> Customers</a>

</nav>

<style>
	nav {
		display: flex;
		gap: 1rem;
		align-items: center;
		justify-content: left;
		padding: 1rem;
	}

	.link {
		color: red;
		display: block;
		text-decoration: none;
		font-weight: 600;
		font-size: var(--f-d1);
		text-transform: uppercase;
		padding-top: 0.75em;
		padding-bottom: 0.75em;
	}

	.link:hover,
	.link:focus {
		color: orangered;
	}

	.monogram {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 3em;
		height: 3em;
		margin-right: 0.5rem;
		color: red;
		font-weight: 900;
		letter-spacing: -0.125rem;
		border: 3px solid currentColor;
		border-radius: 50%;
		background-color: var(--t-fg);
	}
	.monogram:hover{
		color: var(--t-fg);
		background-color: red;
		-moz-transition: all 0.2s ease-in-out;
  			-o-transition: all 0.2s ease-in-out;
  			-webkit-transition: all 0.2s ease-in-out;
  			transition: all 0.2s ease-in-out;
	}

</style>
